docutils==0.12
enum34==1.0.4
et-xmlfile==1.0.1
fastcache==1.0.2
Flask==0.10.1
Flask-Cors==2.1.2
futures==3.0.3
gevent==1.0.1
gevent-websocket==0.9.3
gunicorn==19.4.5
HeapDict==1.0.0
ipaddress==1.0.7
ipykernel==4.0.3
ipython==3.2.0
ipython-genutils==0.1.0
ipywidgets==4.1.1
lxml==3.4.4
multipledispatch==0.4.7
numpy==1.9.2
openpyxl==1.8.5
pandas==0.16.2
PIMS==0.3.2
ply==3.6
psutil==2.2.1
psycopg2==2.6.1
ptyprocess==0.4
py==1.4.27
pycurl==7.19.5.1
pyparsing==2.0.3
python-dateutil==2.4.2
pytz==2015.4
requests==2.7.0
trackpy==0.3.0
unicodecsv==0.9.4
virtualenv==15.0.2
Werkzeug==0.10.4
